@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import "tailwindcss";

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* .main-content {
    padding-top: 64px; ensures content is not hidden by menu bar
} */

/*
section {
    min-height: 100vh;  makes each section take up 100% of page height
    padding: 40px;
    box-sizing: border-box;
} */